$themes: (
  dark: (
    font: white,
    page-background: #0d1117,
    board-cell-border: transparent,
    player: black,
    square: #1f2733,
    table-border: #fff700,
    you: #ff355e,
    opponent: #b2f302,
    win: #31ceaa,
    hit: white,
    lose: #ff0000,
  ),
);
