$margin-size: 21px;
// header
#app-title {
    margin-top: $margin-size;
    font-size: 1.3em !important;

    // text-align: center;
    // letter-spacing: 0.2em;
}
// board
// $ship-color: rgba(140, 0, 255, 0.226);
$ship-color: rgba(0, 0, 0, 0.226);
$shot-miss-size: 5px;
.ship-part {
    background-color: $ship-color;
    height: inherit;
    width: inherit;
}
.shot-miss {
    background-color: blue;
    width: $shot-miss-size;
    height: $shot-miss-size;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shot-hit {
    width: inherit;
    height: inherit;
    // background-color: red !important;
    background: linear-gradient(
            to top left,
            $ship-color 0%,
            $ship-color calc(50% - 0.8px),
            rgb(255, 0, 0) 50%,
            $ship-color calc(50% + 0.8px),
            $ship-color 100%
        ),
        linear-gradient(
            to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            rgb(255, 0, 0) 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
    // border: 1px red;
}

// place
$cell-size: 41px;
$cell-border: 1px;
// $ship-color: rgba(140, 0, 255, 0.226);
$orientations: "HR", "VR";

@for $length from 1 through 5 {
    @each $orientation in $orientations {
        .ship-#{$orientation}-#{$length} {
            z-index: 2;
            position: absolute;

            $lw: if($orientation== "HR", $length, 1);
            $lh: if($orientation== "VR", $length, 1);

            width: $cell-size * $lw + $cell-border * $lw;
            height: $cell-size * $lh + $cell-border * $lh;
            background: $ship-color;
        }
    }
}
.board {
    width: 10 * $cell-size + 11 * $cell-border;
    height: 10 * $cell-size + 11 * $cell-border;
    margin: $margin-size;
    display: inline-block;
}
.board-table {
    user-select: none; //TODO use different properties for different browsers
    border-collapse: collapse;
    padding: 0;
    margin-top: 5px;
}
.board-cell-content {
    width: $cell-size;
    height: $cell-size;
    // background-color: indigo;
}
.board-cell {
    border: $cell-border solid grey;
    padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
#app > * {
    text-align: center;
    font-family: "Special Elite", cursive !important;
    font-size: 1.1em;
}
.btn {
    &:focus {
        outline: none;
    }
    &:hover {
        color: white;
        background-color: gray;
    }
    border: 2px solid gray;
    transition-duration: 0.4s;
    width: 150px;
    background-color: transparent;
    color: black;
    padding: 7px 5px 5px 5px;
    // border: none;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
    font-family: "Special Elite", cursive;
}
.opponent-select {
    margin: $margin-size;
}
.status-bar {
    margin-top: $margin-size;
}

.clues > * {
    margin: 10px;
}
.disabled {
    opacity: 0.25;
}
.green {
    color: darkgreen;
}
.red {
    color: red;
}
.blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.op-btn {
    border: none;
    background-color: transparent;
    font-family: "Special Elite", cursive;
    font-size: 1em;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}
.selected {
    text-decoration: underline;
    font-style: italic;
}
