@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
// COLORS
$red: tomato;
$green: seagreen;
$blue: cadetblue;
$orange: darkorange;

$margin-size: 21px;
$margin-size-button: 11px;

$cell-size: 41px;
$cell-border: 1px;

$board-size: 10 * $cell-size + 11 * $cell-border;

$ship-color: #00000033;
$shot-miss-size: 5px;
$orientations: "HR", "VR";

// MAIN

html {
    min-width: fit-content;
}
#app-title {
    margin-top: $margin-size;
    font-size: 1.3em !important;
}
#app > * {
    text-align: center;
    font-family: "Special Elite", cursive !important;
    font-size: 1.1em;
}
@mixin focus-button {
    &:focus {
        outline: none;
    }
}
.link-button {
    border: none;
    background-color: transparent;
    font-family: "Special Elite", cursive;
    font-size: 1em;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}
.base-button {
    @include focus-button;
    margin: $margin-size-button;
    transition-duration: 0.4s;
    width: $board-size;
    background-color: transparent;
    padding: 7px 5px 5px 5px;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
    font-family: "Special Elite", cursive;
}
.green-button {
    @extend .base-button;
    &:hover {
        color: white;
        background-color: $blue;
    }
    border: 2px solid $blue;
    color: $blue;
}
.red-button {
    @extend .base-button;
    &:hover {
        color: white;
        background-color: $red;
    }
    border: 2px solid $red;
    color: $red;
}
.btn {
    &:focus {
        outline: none;
    }
    &:hover {
        color: white;
        background-color: gray;
    }
    border: 2px solid gray;
    transition-duration: 0.4s;
    width: 150px;
    background-color: transparent;
    color: black;
    padding: 7px 5px 5px 5px;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
    font-family: "Special Elite", cursive;
}
.selected-opponent {
    text-decoration: underline;
    text-decoration-color: $orange;
    font-style: italic;
}

// BOARD

.board {
    display: inline-block;
}
.board-disabled {
    opacity: 0.25;
}
.board-table {
    width: $board-size;
    height: $board-size;
    margin: $margin-size;
    user-select: none;
    border-collapse: collapse;
    padding: 0;
}
.board-cell-content {
    width: $cell-size;
    height: $cell-size;
}
.board-cell {
    border: $cell-border solid grey;
    padding: 0;
}

// SHIPS AND SHOTS

@mixin ship-part-bg {
    background-image: linear-gradient(
        45deg,
        transparent 35.71%,
        $blue 35.71%,
        $blue 50%,
        transparent 50%,
        transparent 85.71%,
        $blue 85.71%,
        $blue 100%
    );
    background-size: 6.9px 6.9px;
}
.ship-part {
    @include ship-part-bg;
    height: inherit;
    width: inherit;
}
.shot-miss {
    background-color: $green;
    width: $shot-miss-size;
    height: $shot-miss-size;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shot-hit {
    width: inherit;
    height: inherit;
    background-image: linear-gradient(
        45deg,
        transparent 35.71%,
        $red 35.71%,
        $red 50%,
        transparent 50%,
        transparent 85.71%,
        $red 85.71%,
        $red 100%
    );
    background-size: 6.9px 6.9px;
}
@for $length from 1 through 5 {
    @each $orientation in $orientations {
        .ship-#{$orientation}-#{$length} {
            @include ship-part-bg;
            z-index: 2;
            position: absolute;

            $lw: if($orientation== "HR", $length, 1);
            $lh: if($orientation== "VR", $length, 1);

            width: $cell-size * $lw + $cell-border * $lw;
            height: $cell-size * $lh + $cell-border * $lh;
            // background: $ship-color;
        }
    }
}

// GAME STATUS
@mixin game-status {
    padding: 10px 0 5px 0;
    color: white;
}
.waiting-for-opponent {
    @include game-status;
    background-color: $blue;
}
.you-won {
    @include game-status;
    background-color: $green;
}
.you-lost,
.opponent-left {
    @include game-status;
    background-color: $red;
}
.status-turn {
    text-decoration: underline;
    font-style: italic;
}
.link-for-a-friend {
    @include game-status;
    background-color: $orange;
    margin: $margin-size 0 0 -$margin-size-button;
}
.link-itself{
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}