@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
// COLORS
$red: #ff6347;
$green: seagreen;
$blue: #5f9ea0;
$orange: #ff8c00;

$margin-size: 21px;
$margin-size-button: 11px;

$cell-size: 35px;
$cell-border: 1px;

$board-size: 10 * $cell-size + 11 * $cell-border;

$ship-color: #00000033;
$shot-miss-size: 5px;
$orientations: "HR", "VR";

// MAIN

html {
    min-width: fit-content;
    // min-width: 500px;
}
#app-title {
    margin-top: $margin-size;
    font-size: 1.3em !important;
}
#app-title span {
    position: relative;
}
#app-title span:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(100, 181, 184, 1) 50%, rgba(255, 140, 0, 1) 50%);
}
#app > * {
    text-align: center;
    font-family: "Special Elite", cursive !important;
    font-size: 1.1em;
}
@mixin focus-button {
    &:focus {
        outline: none;
    }
}
.link-button {
    border: none;
    background-color: transparent;
    font-family: "Special Elite", cursive;
    font-size: 1em;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}
.base-button {
    @include focus-button;
    margin: $margin-size-button;
    transition-duration: 0.4s;
    width: $board-size;
    background-color: transparent;
    padding: 7px 5px 5px 5px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    font-family: "Special Elite", cursive;
}
.blue-button {
    @extend .base-button;
    &:hover {
        color: $blue;
        background-color: white;
    }
    border: 2px solid $blue;
    background-color: $blue;
    color: white;
}
.orange-button {
    @extend .base-button;
    &:hover {
        color: $orange;
        background-color: white;
    }
    border: 2px solid $orange;
    background-color: $orange;
    color: white;
}
.red-button {
    @extend .base-button;
    &:hover {
        color: $red;
        background-color: white;
    }
    background-color: $red;
    border: 2px solid $red;
    color: white;
    margin-top: $margin-size;
}
.green-button {
    @extend .base-button;
    &:hover {
        color: $green;
        background-color: white;
    }
    background-color: $green;
    border: 2px solid $green;
    color: white;
    margin-top: $margin-size;
}

.btn {
    &:focus {
        outline: none;
    }
    &:hover {
        color: white;
        background-color: gray;
    }
    border: 2px solid gray;
    transition-duration: 0.4s;
    width: 150px;
    background-color: transparent;
    color: black;
    padding: 7px 5px 5px 5px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    font-family: "Special Elite", cursive;
}
.selected-opponent {
    background-color: $orange;
    color: white !important;
}
.opponent-select-button {
    @extend .base-button;
    border: 2px solid $orange;
    // background-color: $orange;
    width: $board-size / 2;
    // background-color: transparent;
    color: $orange;
    margin: 0;
}
.opponent-select {
    margin: $margin-size / 3;
}
.opponent-select button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
// BOARD

.board {
    display: inline-block;
}
.board-disabled {
    opacity: 0.25;
}
.board-table {
    width: $board-size;
    height: $board-size;
    margin: $margin-size;
    user-select: none;
    border-collapse: collapse;
    padding: 0;
}
.board-cell-content {
    width: $cell-size;
    height: $cell-size;
}
.board-cell {
    border: $cell-border solid rgb(32, 32, 32);
    padding: 0;
}
.board-table-placement {
    box-shadow: $margin-size $margin-size 0px 2px $orange;
}

.you > .board-table {
    box-shadow: -$margin-size 0-$margin-size 0px 2px $orange;
}
.opponent > .board-table {
    box-shadow: $margin-size $margin-size 0px 2px $blue;
}
.board-owner {
    padding-bottom: $margin-size / 2;
}
// SHIPS AND SHOTS

@mixin ship-part-bg {
    background: url("./assets/diagonal-stripes.svg") repeat;
    background-size: ($cell-size + 1px)/4;
}
.ship-part {
    @include ship-part-bg;
    height: inherit;
    width: inherit;
}
.shot-miss {
    background-color: $green;
    width: $shot-miss-size;
    height: $shot-miss-size;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shot-hit {
    @include ship-part-bg;
    filter: invert(54%) sepia(35%) saturate(6222%) hue-rotate(334deg) brightness(109%) contrast(101%);
    width: inherit;
    height: inherit;
}
@for $length from 1 through 5 {
    @each $orientation in $orientations {
        .ship-#{$orientation}-#{$length} {
            @include ship-part-bg;
            z-index: 2;
            position: absolute;

            $lw: if($orientation== "HR", $length, 1);
            $lh: if($orientation== "VR", $length, 1);

            width: $cell-size * $lw + $cell-border * $lw -1;
            height: $cell-size * $lh + $cell-border * $lh -1;
        }
    }
}

// GAME STATUS
@mixin game-status {
    padding: 10px 0 5px 0;
    color: white;
}
.waiting-for-opponent {
    @include game-status;
    background-color: $green;
}
.your-turn {
    @include game-status;
    background-color: $orange;
}
.opponents-turn {
    @include game-status;
    background-color: $blue;
}
.you-won {
    @include game-status;
    background-color: $green;
}
.you-lost,
.opponent-left {
    @include game-status;
    background-color: $red;
}
.status-turn {
    text-decoration: underline;
    font-style: italic;
}
.link-for-a-friend {
    @include game-status;
    background-color: $orange;
    margin: $margin-size 0 0 -$margin-size-button;
}
.link-itself {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

// MODAL
.modal-wrapper {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.753);
}
.modal {
    box-sizing: border-box;
    width: $board-size;
    height: $board-size / 2;
    background-color: white;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-body {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.modal-button {
    width: 100px !important;
}
