[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django = "*"
numpy = "*"
scipy = "*"
django-picklefield = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"
twisted = {extras = ["http2", "tls"], version = "*"}
daphne = "*"
mysqlclient = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
